BOT_TOKEN=
DATABASE_URL=
PUBLIC_BASE_URL=
CASHFREE_CLIENT_ID=
CASHFREE_CLIENT_SECRET=
ADMIN_USER_ID=
REQUIRED_CHANNELS=@FlashXDeal,@FlashXSupports
NODE_ENV=production
PORT=3000
CASHFREE_ENV=production
CASHFREE_WEBHOOK_SECRET=
ADMIN_WEB_TOKEN=
SUPPORT_USERNAME=@FlashXSupports
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
